.btn {
  &-primary {
    color: $white !important;
    box-shadow: 4px 4px 15px rgba(#787CC8, 0.4);

    &:hover,
    &.active {
      background-color: $black;
    }
  }

  &-outline-primary {
    color: $primary !important;

    &:hover,
    &.active {
      color: $white !important;
    }
  }
}
