.mw {
  &-xs {
    max-width: get-breakpoints(xs);
  }

  &-sm {
    max-width: get-breakpoints(sm);

    @include media-breakpoint-down(lg) {
      &-xs {
        max-width: get-breakpoints(xs);
      }
    }
  }
}
