footer {
  background-color: $greenlight;

  a {
    color: $black;

    &.nav-link {
      &.active,
      &:hover {
        text-decoration: underline;
      }
    }
  }

  .bottom-0 {
    bottom: inherit !important;
    top: 10rem !important;
  }
}
