h1,
.h1
h2,
.h2,
h3,
.h3 {
  font-weight: $font-weight-bold !important;

  strong {
    color: $orange;
  }
}

b, strong {
  font-weight: $font-weight-bold !important;
}

[style*="#212529"],
[style*="#333333"] {
  color: #191A44 !important
}
