.scs-paragraph {
  .scs-paragraph-text {
    margin-top: 1rem;

    // Fixes for inheriting container styles
    .text-center & div {
      text-align: center !important;
    }

    .text-lg-start & div {
      @include media-breakpoint-up(lg) {
        text-align: left !important;
      }
    }
  }
}
