.scs-title {
  .scs-title-text {
    overflow: hidden !important;
    font-size: $h2-font-size;
    line-height: $headings-line-height;
    font-weight: 800;

    // Fixes for inheriting container styles
    .text-center & div {
      text-align: center !important;
    }

    .text-lg-start & div {
      @include media-breakpoint-up(lg) {
        text-align: left !important;
      }
    }
  }

  strong,
  b {
    color: $orange;
  }
}
