.scs-title {
  .scs-title-text {
    overflow: hidden !important;
    font-size: $h2-font-size !important;
    line-height: $headings-line-height !important;
    font-weight: $font-weight-bold !important;
    font-family: Nunito, sans-serif !important;

    * {
      font-family: Nunito, sans-serif !important;
    }

    // Fixes for inheriting container styles
    .text-center & div {
      text-align: center !important;
    }

    .text-lg-start & div {
      @include media-breakpoint-up(lg) {
        text-align: left !important;
      }
    }
  }

  strong,
  b {
    color: $orange;
  }
}
