.scs-custom-component-wrapper {
  overflow: visible !important;
}

.scs-component-content {
  display: block !important;
}

[style*="margin-top:5px"] {
  margin: 0 !important;
}

.scs-cookie-consent,
iframe[src*="javascript:false"] {
  display: none !important;
}
