{{> ./partials/header }}

<div class="container">
  <div class="container-breakout py-5 blog-container">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h2 class="h1">Latest <strong>articles</strong></h2>
        </div>
        <div class="col-12">
          <div id="slot-content" class="scs-slot scs-responsive"></div>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="slot-content-bottom" class="scs-slot scs-responsive"></div>

{{> ./partials/footer }}
