{{> ./partials/header }}

<div class="container">
  <div class="container-breakout pt-5 faq-container">
    <div class="container">
      <div class="text-center faq-search position-relative">
        <h2 class="h3">Frequently Asked Questions</h2>
        <p class="h1 mt-3">We are here to <strong>help</strong></p>
        <img src="/_themes/[!--$SCS_THEME_NAME--]/assets/img/faq-search-left.svg" class="image-left" alt="" width="213" height="189">
        <div class="row justify-content-center mt-4 pt-3">
          <div class="col-10 col-lg-6">
            <input class="form-control bg-purplelight" type="text" placeholder="Ask any question here&hellip;" id="input">
          </div>
        </div>
        <img src="/_themes/[!--$SCS_THEME_NAME--]/assets/img/faq-search-right.svg" class="d-none d-lg-block image-right" alt="" width="200" height="201">
      </div>
      <div class="accordion accordion-flush pt-5 mt-5 position-relative" id="listFaq">
        <p class="h2 mt-5 pt-5">Top questions</p>
        <span></span>
        <div class="mt-4 pt-2" id="list"></div>
        <div id="slot-content" class="scs-slot scs-responsive"></div>
      </div>
    </div>
  </div>
</div>

<div id="slot-content-bottom" class="scs-slot scs-responsive"></div>

<script>
  function handleFaq(faq) {
    const input = document.querySelector("#input");
    const list = document.querySelector("#list");
    const faqEntries = document.querySelectorAll('.accordion-item');
    const namesList = [].slice.call(faqEntries);

    for (var i = 0; i < faqEntries.length; i++) {
      faqEntries[i].querySelector('.accordion-header').setAttribute('id', 'faq-heading-' + [i]);
      faqEntries[i].querySelector('.accordion-button').setAttribute('data-bs-target', '#faq-collapse-' + [i]);
      faqEntries[i].querySelector('.accordion-button').setAttribute('aria-controls', 'faq-collapse-' + [i]);
      faqEntries[i].querySelector('.accordion-collapse').setAttribute('id', 'faq-collapse-' + [i]);
      faqEntries[i].querySelector('.accordion-collapse').setAttribute('aria-labelledby', 'faq-heading-' + [i]);
      list.appendChild(faqEntries[i]);
    }

    input.addEventListener('keyup', (e) => {
      const match = new RegExp(`${e.target.value}`, 'gi');
      let results = namesList.filter(name => match.test(name.innerText));
      let elem = document.querySelector('.accordion > span');
      let searchVal = document.querySelector('#input').value;
      let target = document.querySelector('.accordion > p:first-child');
      list.innerHTML = '';

      for (let i = 0; i < results.length; i++) { 
        list.appendChild(results[i])
        let totalFaqs = i + 1;

        if (searchVal.length) {
          elem.innerText = totalFaqs + ' results for "' + searchVal + '"';
          target.innerText = 'Search results';
          target.parentNode.insertBefore(elem, target.nextSibling);
        } else {
          elem.innerText = '';
          target.innerText = 'Top questions';
        }
      }

      let searchResults = 0 + list.childElementCount;
      if (searchResults < 1) {
        elem.innerText = 'No results for "' + searchVal + '", please try a different term.';
      }
    });
  }

  var observer = new MutationObserver(function (mutations, me) {
    var faq = document.querySelector('.accordion-item');
    if (faq) {
      setTimeout(() => {
        handleFaq(faq); 
      }, 200);

      me.disconnect();
      return;
    }
  });

  observer.observe(document, {
    childList: true,
    subtree: true
  });
</script>

{{> ./partials/footer }}
