<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" type="text/css" href="/_themes/[!--$SCS_THEME_NAME--]/assets/css/main.css">

  <!--$SCS_RENDER_INFO-->
  <!--$SCS_SITE_HEADER-->
  <!--$SCS_PAGE_HEADER-->
</head>
<body>

<div id="slot-content" class="scs-slot scs-responsive"></div>

<script src="/_themes/[!--$SCS_THEME_NAME--]/assets/js/scripts.js"></script>
<script data-main="/_sitescloud/renderer/renderer.js" src="/_sitescloud/renderer/require.js"></script>
<!--$SCS_SITE_FOOTER-->

</body>
</html>
