</main>

<footer>
  <div class="container py-5">
    <div class="row">
      <div class="col-lg-9">
        <div class="row position-relative">
          <div class="col-6 col-lg-4">
            <img src="/_themes/[!--$SCS_THEME_NAME--]/assets/img/livelife-logo-black.svg" alt="LiveLife logo" width="107" height="24">
            <p class="mt-4">0300 555 0788</p>
            <p>hello@livelife.co.uk</p>
          </div>
          <div class="col-6 col-lg-4">
            <p><strong>Quick links</strong></p>
            <ul class="nav flex-column ms-n3" id="footerNav"></ul>
          </div>
          <div class="col-6 col-lg-4 position-absolute bottom-0 position-lg-static">
            <p><strong>Follow us</strong></p>
            <div class="d-flex">
              <a href="https://facebook.com/livelifeUKFB" target="_blank">
                <svg class="sprite">
                  <use xlink:href="#facebook"></use>
                </svg>
              </a>
              <a href="https://twitter.com/livelife_uk" target="_blank" class="ps-3">
                <svg class="sprite">
                  <use xlink:href="#twitter"></use>
                </svg>
              </a>
              <a href="https://instagram.com/livelife_uk" target="_blank" class="ps-3">
                <svg class="sprite">
                  <use xlink:href="#instagram"></use>
                </svg>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-3 mt-5 mt-lg-0">
        <p><strong>Please note</strong>, we are not a crisis service. If you are experiencing thoughts of harming yourself or taking your own life, please contact your GP, the Samaritans on 116 123, or emergency services on 999.</p>
      </div>
    </div>
  </div>
</footer>

<div class="modal fade" id="onboardingModal" tabindex="-1" aria-labelledby="onboardingModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl modal-fullscreen-lg-down" id="onboardingComponent">
    <div class="modal-content">
      <div class="modal-header">
        <p class="h5 modal-title" id="onboardingModalLabel">Get started</p>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div id="onboarding">
        </div>
      </div>
    </div>
  </div>
</div>

<script src="https://tp-opa--tst2.custhelp.com/web-determinations/staticresource/interviews.js"></script>
<script src="/_themes/[!--$SCS_THEME_NAME--]/assets/js/scripts.js"></script>
<script data-main="/_sitescloud/renderer/renderer.js" src="/_sitescloud/renderer/require.js"></script>
<!--$SCS_SITE_FOOTER-->

</body>
</html>
