<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" type="text/css" href="/_themes/[!--$SCS_THEME_NAME--]/assets/css/main.css">

  <!--$SCS_RENDER_INFO-->
  <!--$SCS_SITE_HEADER-->
  <!--$SCS_PAGE_HEADER-->
</head>
<body>

<a class="visually-hidden-focusable" href="#main">Skip to main content</a>

<div class="d-none">{{> ./sprite }}</div>

<header class="bg-white sticky-top">

<a class="bg-blue-light nav-link justify-content-center icon-telephone d-block d-lg-none py-1 px-3" href="tel:03005550788">Call us: 0300 5550788 9AM-9PM</a>

<nav class="navbar navbar-expand navbar-light px-2 p-lg-3 shadow-sm">
  <div class="container-fluid">
    <a class="navbar-brand" aria-current="page" href="./">
      <img src="/_themes/[!--$SCS_THEME_NAME--]/assets/img/livelife-logo.svg" alt="LiveLife logo" width="134" height="29">
    </a>
    <div class="justify-content-end">
      <ul class="navbar-nav align-items-center pt-0">
        <li class="nav-item">
          <a href="tel:03005550788" class="nav-link icon-telephone">Call us: 0300 5550788 9AM-9PM</a>
        </li>
        <li class="nav-item">
          <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#onboardingModal">Request free consultation</button>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="d-none" data-bs-toggle="offcanvas" id="mainNav"></div>

</header>

<main id="main" class="pb-5">
