<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" type="text/css" href="/_themes/[!--$SCS_THEME_NAME--]/assets/css/main.css">

  <!--$SCS_RENDER_INFO-->
  <!--$SCS_SITE_HEADER-->
  <!--$SCS_PAGE_HEADER-->
</head>
<body>

<a class="visually-hidden-focusable" href="#main">Skip to main content</a>

<div class="d-none">{{> ./sprite }}</div>

<div class="customer-login d-lg-flex min-vh-100">
  <header class="sticky-top col-lg-3">
    <nav class="navbar navbar-expand-lg navbar-light height-lg-100 align-items-lg-start bg-light px-lg-3 py-lg-0">
      <div class="container-fluid py-lg-5 sticky-top flex-wrap">
        <a class="navbar-brand ms-lg-3 mt-lg-3" aria-current="page" href="./">
          <img src="/_themes/[!--$SCS_THEME_NAME--]/assets/img/livelife-logo.svg" alt="LiveLife logo" width="134" height="29">
        </a>
        <button class="navbar-toggler p-0 border-0" type="button" data-bs-toggle="offcanvas" data-bs-target="#asideNav" aria-controls="asideNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon">
            <span class="close">&times;</span>
          </span>
        </button>
        <div class="navbar-collapse offcanvas-collapse flex-column align-items-start col-lg-12 mt-lg-4" id="asideNav">
          <ul class="navbar-nav flex-column w-100">
            <li class="nav-item mobile-btn mb-1">
              <a href="./" class="nav-link pt-lg-2 pb-lg-1">
                <svg class="sprite">
                  <use xlink:href="#home"></use>
                </svg>
                Home
              </a>
            </li>
            <li class="nav-item">
              <a href="#top-5" class="nav-link">
                <svg class="sprite">
                  <use xlink:href="#list"></use>
                </svg>
                Top 5
              </a>
            </li>
            <li class="nav-item">
              <a href="#find-out-more" class="nav-link">
                <svg class="sprite">
                  <use xlink:href="#modules"></use>
                </svg>
                Find out more
              </a>
            </li>
            <li class="nav-item">
              <a href="#bitesize-modules" class="nav-link">
                <svg class="sprite">
                  <use xlink:href="#modules"></use>
                </svg>
                Bitesize
              </a>
            </li>
            <li class="nav-item">
              <a href="#wellbeing-modules" class="nav-link">
                <svg class="sprite">
                  <use xlink:href="#modules"></use>
                </svg>
                Wellbeing
              </a>
            </li>
            <li class="nav-item border-top mt-3 pt-3">
              <a href="./register.html" class="nav-link">
                <svg class="sprite">
                  <use xlink:href="#register"></use>
                </svg>
                Register
              </a>
            </li>
            <li class="nav-item">
              <a href="https://stgturningpoint.learn.taleo.net/home/synthetic" class="nav-link">
                <svg class="sprite">
                  <use xlink:href="#login"></use>
                </svg>
                Log in
              </a>
            </li>
          </ul>
          <div class="bg-white rounded-3 mx-2 mx-lg-0 p-3 p-lg-4 mb-4 mb-lg-0 mt-4 mt-lg-5">
            <p class="fw-bold">Need help?</p>
            <p class="small">During the Covid-19 outbreak you may find your worries have increased, or you have new worries. This guide will help you recognise worry, and learn some strategies to manage your worries at work and home.</p>
            <a href="./contact.html" class="btn btn-primary bg-gradient mt-2 w-100">Contact us</a>
          </div>
        </div>
      </div>
    </nav>
  </header>

  <main id="main" class="col-lg-9">
